*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    color: white;
    background-color: black;
}
.center{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#banner{
    font-size: x-large;
    text-transform: uppercase;
    font-weight: 700;
}
#clock{
    padding: 2px;
    margin: 10px;
    height: 30px;
    width: 130px;
    font-size: larger;
    text-align: center;
    background-color: orange;
    border-radius: 1rem;
}