*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    color: whitesmoke;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}


.body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 600px;
}
.colors{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;


}
.button{
    width: 100%;
    max-width: 130px;
    aspect-ratio: 1/1;
    border: 2px solid white;
    cursor: pointer;
}
#purple{
    background: #6B2D5C;
}
#dark{
    background: #F0386B;
}
#med{
    background: #FF5376;
}
#light{
    background: #F8C0C8;
}

h1{
    font-size: max(2rem, 4vw);
    padding-bottom: 10px;
}
h4{
    padding-top: 10px;
    font-size: max(1rem, 1.5vw);
    opacity: 0.696;
}