
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000;
    font-family: 'Roboto', sans-serif;
}
div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    height: 40px;
    width: 100px;
    border: 2px solid orange;
    font-size: medium;
    color: orange;
    background-color: black;
    transition: 0.2s;
}

button:hover{
    border-color: yellow;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em rgb(229, 255, 0);
    transform: translateY(-0.25em);
}
