body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    gap: 20px;
}

.square{
    height: 10%;
    aspect-ratio: 1/1;
    background-color: rgb(255, 255, 255);
}

.circle{
    height: 10%;
    aspect-ratio: 1/1;
    background-color: aliceblue;
    border-radius: 2rem;
}

.triangle{
    height: 10%;
    aspect-ratio: 1/1;
    background: aliceblue;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}


